[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
alibi = {extras = ["ray"], version = "*"}
matplotlib = "*"
pyqt5 = "*"
sympy = {editable = true, ref = "60bbce89cc1e638e6ee813ad4da2877d76d0a628", git = "git@github.com:craymichael/sympy.git"}
joblib = "*"
scipy = "*"
theano = "*"
numexpr = "*"
seaborn = "*"
pathos = "*"
interpret = "*"
skope-rules = "*"
scikit-learn = "*"
fastcache = "*"
tqdm = "*"

[requires]
python_version = "3.8"
