numpy
matplotlib
pyqt5
joblib
scipy
theano
numexpr
seaborn
scikit-image
interpret
scikit-learn
fastcache
tqdm
tensorflow-gpu
memory_profiler
alibi
alibi[ray]
-e git+https://github.com/craymichael/sympy.git@95ea6b0a2451382e307f516486d91f412fdf82f2#egg=sympy
