numpy
matplotlib
pyqt5
joblib
scipy
theano
numexpr
seaborn
statsmodels
scikit-image
interpret
lime
pdpbox
scikit-learn
fastcache
tqdm >= 4.56.2
# https://github.com/NVIDIA/framework-determinism
tensorflow-gpu >= 2.3.0
graphviz
pydot
memory_profiler
alibi
alibi[ray]
-e git+https://github.com/craymichael/sympy.git@2f418a9f9702db0c089efc5af711049ca258f367#egg=sympy

# r interface (requires R installed)
rpy2

# pygam things:
pygam
# currently broken...
# scikit-sparse
# nose

mpmath
gmpy
