numpy
matplotlib
pyqt5
joblib
scipy
theano
numexpr
seaborn
scikit-image
interpret
scikit-learn
fastcache
tqdm
tensorflow-gpu
memory_profiler
alibi
alibi[ray]
-e git+https://github.com/craymichael/sympy.git@2f418a9f9702db0c089efc5af711049ca258f367#egg=sympy
